body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(100, 100, 100);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: rgb(58, 58, 58);
  box-shadow: 0px 4px white;
}
.site-header .navbar-logo a {
  color: #cecce7;
  font-weight: bold;
}
.site-header .navbar-menu {
  display: flex;
  flex-direction: row;
}
.site-header .navbar-menu li {
  margin: 0px 10px;
}
.site-header .navbar-menu li a {
  color: #cacaca;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
}
.main h1 {
  color: snow;
}
.main .section-first {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../img/cover.jpg");
  background-position: center;
  background-size: cover;
}
.main .section-first .main-content {
  margin: auto;
}
.main .section-first .main-content .main-intro h1 {
  font-size: 45px;
  font-style: oblique;
}
.main .section-first .main-content .intro-text {
  align-items: center;
  text-align: center;
}
.main .section-first .main-content .intro-text h4 {
  font-weight: bold;
  font-size: 16px;
  color: white;
  letter-spacing: 5px;
}
.main .section-first .main-content .intro-button {
  display: flex;
  flex-direction: column;
}
.main .section-first .main-content .intro-button ul {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.main .section-first .main-content .intro-button ul li {
  margin: 15px;
  font-size: 1.2rem;
}
.main .section-first .main-content .intro-button ul li a {
  color: #cecce7;
  font-weight: bold;
}
.main .section-second {
  display: flex;
  height: 600px;
  padding: 0 50px;
}
.main .section-second .second-widget {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaf0ed;
}
.main .section-third {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .section-third .col {
  margin: 10px 10px;
  box-shadow: 6px 6px #333;
}
.main .section-third .col .con {
  background-color: rgb(15, 1, 1);
  height: 500px;
  width: 25vw;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .section-third .col .con h3 {
  margin: 0;
  color: #fff;
}
.main .section-third .col .con p {
  margin: 0;
  color: #fff;
}
.main .section-fourth {
  display: flex;
  height: 300px;
  padding: 0 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .section-fourth .fourth-widget {
  display: flex;
  height: 20vh;
  width: 50vw;
  background-color: #eaf0ed;
}
.main .section-fifth {
  display: flex;
  height: 600px;
  padding: 0 50px;
}
.main .section-fifth .fifth-widget {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaf0ed;
}

@media (max-width: 760px) {
  .navbar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
