/*----Global----*/
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #222831;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*---Navbar---*/
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
  background-color: #393e46;
  -webkit-box-shadow: 0px 4px white;
          box-shadow: 0px 4px white;
}

.site-header .navbar-logo a {
  color: #eeeeee;
  font-weight: bold;
}

.site-header .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-header .navbar-menu li {
  margin: 0px 10px;
}

.site-header .navbar-menu li a {
  color: #eeeeee;
  font-weight: bold;
}

/*---index---*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main h1 {
  color: #ffd369;
}

.main .section-first {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../img/cover.jpg");
  background-position: center;
  background-size: cover;
}

.main .section-first .main-content {
  margin: auto;
}

.main .section-first .main-content .main-intro h1 {
  font-size: 45px;
  font-style: oblique;
}

.main .section-first .main-content .intro-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main .section-first .main-content .intro-text h4 {
  font-weight: bold;
  font-size: 16px;
  color: #eeeeee;
  letter-spacing: 5px;
}

.main .section-first .main-content .intro-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .section-first .main-content .intro-button ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

.main .section-first .main-content .intro-button ul li {
  margin: 15px;
  font-size: 1.2rem;
}

.main .section-first .main-content .intro-button ul li a {
  color: #ffd369;
  font-weight: bold;
}

.main .section-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  padding: 0 50px;
  margin: 50px 0;
}

.main .section-second .second-widget {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #393e46;
}

.main .section-second .second-widget h3 {
  margin: 20px 20px;
  color: #eeeeee;
}

.main .section-third {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-third .col {
  margin: 10px 10px;
}

.main .section-third .col .con {
  height: 500px;
  width: 25vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section-third .col .con img {
  position: absolute;
  height: 500px;
  width: 25vw;
  border-radius: 10px;
}

.main .section-third .col .con .con-text {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 230px auto;
  font-size: 40px;
}

.main .section-third .col .con .con-text a {
  background-color: #393e46;
  color: #eeeeee;
  opacity: 0.3;
}

.main .section-third .col .con:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .section-third .col .con:hover li {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .section-third .col .con:hover a:hover {
  opacity: 1;
}

.section-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding: 0 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-fourth .fourth-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  background-color: #ffd369;
}

.section-fourth .fourth-widget h3 {
  margin: 10px 10px;
  color: #eeeeee;
}

.section-fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  padding: 0 50px;
  margin: 50px 0;
}

.section-fifth .fifth-widget {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #393e46;
}

.section-fifth .fifth-widget h3 {
  margin: 20px 20px;
  color: #eeeeee;
}

footer {
  border-top: 1px solid;
  width: 80%;
  margin: 50px auto;
}

footer .footer-items {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #ffd369;
}

footer .footer-items .footer-item {
  width: 33%;
  padding: 15px;
}

footer .footer-items .footer-item a {
  color: #eeeeee;
}

@media (max-width: 760px) {
  .navbar {
    display: none;
  }
}

/*---login---*/
.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #cacaca;
  width: 30%;
  margin: 80px auto;
  max-height: 500px;
}

.login-page .login-logo {
  height: 75px;
  width: 30px;
  background-color: #c7f010;
}

.login-page .login-item {
  margin: 2px;
}

.login-page .login-item .login-account {
  margin-top: 15px;
}

.login-page .login-item .login-password {
  margin-top: 15px;
}

.login-page .login-item Button {
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */