body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: rgb(100, 100, 100);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.site-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: rgb(58, 58, 58);
  box-shadow: 0px 4px white;

  .navbar-logo a {
    color: #cecce7;
    font-weight: bold;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 0px 10px;

      a {
        color: #cacaca;
        font-weight: bold;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  h1 {
    color: snow;
  }

  .section-first {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../img/cover.jpg');
    background-position: center;
    background-size: cover;

    .main-content {
      margin: auto;

      .main-intro h1 {
        font-size: 45px;
        font-style: oblique;
      }

      .intro-text {
        align-items: center;
        text-align: center;

        h4 {
          font-weight: bold;
          font-size: 16px;
          color: white;
          letter-spacing: 5px;
        }
      }
      .intro-button {
        display: flex;
        flex-direction: column;

        ul {
          display: flex;
          flex-direction: row;
          margin: auto;

          li {
            margin: 15px;
            font-size: 1.2rem;

            a {
              color: #cecce7;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .navbar {
    display: none;
  }
}
