/*----Global----*/
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #222831;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*-------Navbar-------*/
.site-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #393e46;
  box-shadow: 0px 4px white;

  .navbar-logo a {
    color: #eeeeee;
    font-weight: bold;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;

    li {
      margin: 0px 10px;

      a {
        color: #eeeeee;
        font-weight: bold;
      }
    }
  }
}

/*---index---*/
.main {
  display: flex;
  flex-direction: column;

  h1 {
    color: #ffd369;
  }

  .section-first {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../img/cover.jpg');
    background-position: center;
    background-size: cover;

    .main-content {
      margin: auto;

      .main-intro h1 {
        font-size: 45px;
        font-style: oblique;
      }

      .intro-text {
        align-items: center;
        text-align: center;

        h4 {
          font-weight: bold;
          font-size: 16px;
          color: #eeeeee;
          letter-spacing: 5px;
        }
      }
      .intro-button {
        display: flex;
        flex-direction: column;

        ul {
          display: flex;
          flex-direction: row;
          margin: auto;

          li {
            margin: 15px;
            font-size: 1.2rem;

            a {
              color: #ffd369;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .section-second {
    display: flex;
    height: 600px;
    padding: 0 50px;
    margin: 50px 0;

    .second-widget {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #393e46;

      h3 {
        margin: 20px 20px;
        color: #eeeeee;
      }
    }
  }

  .section-third {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .col {
      margin: 10px 10px;

      .con {
        height: 500px;
        width: 25vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          position: absolute;
          height: 500px;
          width: 25vw;
          border-radius: 10px;
        }

        .con-text {
          position: relative;
          align-items: center;
          text-align: center;
          margin: 230px auto;
          font-size: 40px;

          a {
            background-color: #393e46;
            color: #eeeeee;
            opacity: 0.3;
          }
        }
      }
      .con:hover {
        transform: scale(1.2);
        transition: 0.5s;

        li {
          transform: scale(1.2);
          transition: 0.5s;
        }

        a:hover {
          opacity: 1;
        }
      }
    }
  }
}

.section-fourth {
  display: flex;
  height: 300px;
  padding: 0 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .fourth-widget {
    display: flex;
    width: 50vw;
    background-color: #ffd369;

    h3 {
      margin: 10px 10px;
      color: #eeeeee;
    }
  }
}

.section-fifth {
  display: flex;
  height: 600px;
  padding: 0 50px;
  margin: 50px 0;

  .fifth-widget {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #393e46;

    h3 {
      margin: 20px 20px;
      color: #eeeeee;
    }
  }
}

footer {
  border-top: 1px solid;
  width: 80%;
  margin: 50px auto;

  .footer-items {
    padding: 20px;
    display: flex;
    text-align: center;
    color: #ffd369;

    .footer-item {
      width: 33%;
      padding: 15px;

      a {
        color: #eeeeee;
      }
    }
  }
}

/*------login------*/
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #cacaca;
  width: 30%;
  margin: 80px auto;
  max-height: 500px;

  .login-logo {
    height: 75px;
    width: 30px;
    background-color: #c7f010;
  }

  .login-item {
    margin: 2px;

    .login-account {
      margin-top: 15px;
    }

    .login-password {
      margin-top: 15px;
    }

    Button {
      margin-top: 15px;
    }
  }
}

@media (max-width: 760px) {
  .navbar {
    display: none;
  }
}
